<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljx.file.mapper.UserMapper">

    <insert id="insertUser" parameterType="com.ljx.file.model.User">
        insert into user (username,password,telephone)
        values (#{username},#{password},#{telephone})
    </insert>
    <select id="selectUser" resultType="com.ljx.file.model.User">
        select * from user
    </select>

</mapper>